{{ partial "head.html" . }}
{{ partial "header.html" . }}
    <article class="main">
      <section class="featured">
        <div class="media">
        {{ if isset .Params "video" }}
          <section class="video">
            <iframe src="https://www.youtube-nocookie.com/embed/{{ index .Params "video" }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen>
            </iframe>
          </section>
        {{ else if isset .Params "image" }}
          <img src="/images/{{ index .Params "image" }}" alt="{{ .Title }}">
        {{ end }}
        </div>
        <header>
          <h1 id="title">{{ .Title }}</h1>
        </header>
      </section>
      <section class="content">
        {{ .Content }}
      </section>
      <div class="summary">
          {{ range $.Site.Data.about.pages }}
            {{ partial "summary.html" . }}
          {{ end }}
      </div>
  </article>
{{ partial "footer.html" . }}
