<footer class="footer">
  <section class="inner-footer">
    <h2 class="center"><a href="/" class="title">The Hitchhikers</a></h2>
    <ul class="inline-list icons center">
      <li><a href="https://facebook.com/team2059">&#xe800;</a></li>
      <li><a href="https://twitter.com/team2059">&#xe801;</a></li>
      <li><a href="https://github.com/team2059">&#xe802;</a></li>
      <li><a href="https://youtube.com/team2059">&#xe803;</a></li>
      <li><a href="https://instagram.com/team2059">&#xe804;</a></li>
      <li><a href="http://team2059.tumblr.com">&#xe805;</a></li>
    </ul>
    </section>
  </section>
</footer>
</body>
</html>
