<section class="featured">
  {{ if .video }}
  <div class="media">
    <div class="video">
      <iframe src="https://www.youtube-nocookie.com/embed/{{ .video }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen>
      </iframe>
    </div>
    <a href="{{ .Permalink }}">
      <h1>{{ .Title}}</h1>
    </a>
  </div>
  {{ else if .image }}
  <a href="{{ .Permalink }}">
    <div class="media">
      <img src="/images/{{ .image }}" alt="{{ .Title }}">
    </div>
    <h1>{{ .Title}}</h1>
  </a>
  {{ end }}
</section>
